  
  button,button span  { 
    white-space : nowrap; 
}
 
h1{
font-size:  0.624em;

} 

.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm .MuiDialogContent-root, 
 .MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm   .MuiContainer-root{
  padding: 8px 2px!important;
}
.padding-bottom-0{
  padding-bottom: 0!important;
}
.margin-top-0{
  margin-top: 0!important;
}
.padding-top-0{
  padding-top: 0!important;
}
.padding-left-0{
  padding-left: 0!important;
}

#assignFeederTeamPopup .MuiButton-outlined,
 #editGreenCluster  .MuiButton-outlined{
  margin: 10px;
  margin-left: 0;
  margin-right: 20px;
  border-radius: 2px;
  color: #868686;
    font-weight: normal;
    font-size: 16px;
}

#assignFeederTeamPopup  .MuiButton-outlinedPrimary,
#editGreenCluster  .MuiButton-outlinedPrimary
{
  margin: 10px;
  margin-left: 0;
  margin-right: 20px;
  border-radius: 2px;
  color: #868686;
    font-weight: normal;
    font-size: 16px;
    color: #1976d2;
    border: 1px solid rgba(25, 118, 210, 0.5);
    padding: 11px;
}

.selectedDay{
  color: #1976d2;
    border: 1px solid rgba(25, 118, 210, 0.5);
}
.deselected{
  background: red!important;
}

