body {
  
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto",Helvetica, Arial, sans-serif;
  font-weight:400;
  font-size: 14px;
}
h1,p, div,span,td{
  
  font-family: "Roboto ",Helvetica, Arial, sans-serif;
} 
.basic-multi-select {
  display: inline-flex;
  min-width: 150px;
}
.select__control{
  min-width: 150px;
  BORDER: 0px!important;
    border-bottom: 1.2px solid rgba(0, 0, 0, 0.33)!important;
    border-radius: 0px!important;
}
.select__indicator-separator{
  background-color:transparent!important;
}
.basic-multi-select  +  div{
   display: inline-flex;
  width:90px;
  margin-left:  10px;
}
span.MuiListItemText-primary{
  font-size: 13px;
}
.MuiDrawer-docked  .MuiIconButton-root{
  color: white!important;
}
#MenuItems .MuiListItemIcon-root  { 
  color: rgba(255, 255, 255, 0.54);
  min-width: 38px;
}
 div > .active-nav-link{
  width: 100%;
  color:white!important;
  opacity: 1!important;
  display: flex;
 
}
 .active-nav-link .MuiListItemText-root{
  display: inline-block;
}
 .active-nav-link span{
font-weight: 500;}
#MenuItems .active-nav-link .MuiListItemIcon-root {
  color: #1a8679;
  padding-left: 13px;
}
#MenuItems .MuiListItem-button a{ display: flex;}
.MuiDrawer-paperAnchorDockedLeft{
  border-right: none!important;
}
.primary-heading{
  
  text-transform: uppercase ;
  background: transparent;
}

.inset-heading{
  margin-left: 20px;
}
#MenuItems .MuiListItem-gutters{
  padding-right:  0px!important ;padding-left: 0px;
}

#MenuItems .MuiListItem-button a {
  opacity: 0.4;
}
#MenuItems .MuiListItem-button  {
  border-bottom:1px solid rgba(255, 255, 255, 0.40);
}
.MuiFormHelperText-root.Mui-error.Mui-required p{
  color: #f44336;
}

@media only screen and (min-width : 950px) {
.MuiDialog-paperWidthSm{
  min-width: 500px;
}

}
@media only screen and (max-width : 950px) {
  #MenuItems .MuiListItem-gutters{
    padding-right:  0px!important ;
    padding-left: 13px;

  }
.MuiDialogActions-root.MuiDialogActions-spacing{
  flex-direction: column; 
 } 
}

#MenuItems .MuiPaper-root{
  background-color: transparent;
}
#MenuItems .primary-heading{
  color: white;
}

#MenuItems   .MuiExpansionPanelDetails-root {
  display: flex;
  padding: 0px;
}

#MenuItems  .inset-heading {
  margin-left: 14px;
}
#MenuItems .MuiList-padding{
  width: 333px;
}

#MenuItems .MuiExpansionPanelSummary-content.Mui-expanded {
  margin: 8px 0!important;
}
#MenuItems .MuiExpansionPanel-root.Mui-expanded {
  margin: 8px 0!important;
}
#MenuItems .MuiExpansionPanel-root {
  margin: 8px 0!important;
}
#MenuItems .MuiExpansionPanelSummary-content {
  margin: 8px 0!important;
}
#MenuItems .MuiExpansionPanelSummary-root.Mui-expanded {
  min-height: 36px;

}
/*common styles*/
.white-space-nowrap{
  white-space: nowrap;
}
.greyText{
  color: #868686!important;
  font-weight: normal;
  font-size: 16px;
}
.greenClass  {
  color:  #8dc149;
} 
.greenClassBtn , #accepted_leaves .MuiButton-textPrimary{
  color:#33aa3a!important  ;
  }
  .blackText{
    color:black!important;
  }
.centerAlignedContent {   
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-self: center;
  align-items: center;
  min-height: 88vh;
  text-align:center;
}
.headingText{
  font-size: 12px;
}
 
.flexWrapParent{
  flex-wrap : wrap;
} 


.wrappedListItemTop {
  font-weight:700;
   flex: 0 0 53%!important;
}

.wrappedListItem {
  flex: 0 0 53%!important;
  
  min-width:150px!important;
}
.menu_hidden #approve_leaves_div .flexWrapParent.width-100 .wrappedListItem,
.menu_hidden #approve_leaves_div  .flexWrapParent.width-100  .wrappedListItemTop{
  flex-wrap: wrap;
  flex: 103%!important;
  
  max-width:100%!important;
}
#All_leaves .hideme.approve_btn, #All_leaves .hideme.deny_btn {
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
}
#All_leaves .hideme.deny_btn {
display: inline-flex;
color:#de3131;
}
#All_leaves .hideme.approve_btn {
  display: inline-flex;
  color:#33aa3a  ;
  }

#past_leaves_main #All_leaves .hideme,#past_leaves_main  .denied_list .hideme,#past_leaves_main  #accepted_leaves .hideme {
    display: inline-flex;
    text-align: right;
    justify-content: flex-end;
    width: 50%;
}
@media only screen and (max-width :1024px) {
 
.wrappedListItem, .wrappedListItemTop {
  flex: 0 0 53%!important;
  
  max-width:104px!important;
}

#daily-attendence .MuiListItem-root{
  flex-direction: column;
}
#All_leaves .hideme.approve_btn, #All_leaves .hideme.deny_btn {
    display: inline-flex;
    font-size: 16px;
    font-weight: normal;
}
#All_leaves .hideme.deny_btn {
  display: inline-flex;
  color:#de3131;
}
#daily-attendence .wrappedListItem,#daily-attendence  .wrappedListItemTop ,

#daily-attendence .MuiListItemText-primary{
  flex: 0 0 53%!important;
  
  max-width:94px!important;
  min-width: 81px!important;
}

.flexWrapParent{
  flex-wrap: nowrap;
}
#edit-green-cluster .flexWrapParent{
  flex-wrap: wrap;
}
#approve_leaves_div .flexWrapParent     {
  flex-wrap: wrap;

}
 
.menu_shown  #All_leaves .hideme,
.menu_shown   .denied_list .hideme,
.menu_shown   #accepted_leaves .hideme{
 
    flex-direction: column;
}
.menu_shown   .flexWrapParent {
  flex-wrap: wrap;
    max-width: 154px!important;  
  word-break: break-word;
  white-space: normal;
}
 .menu_shown  #special_request_main .flexWrapParent {
  flex-wrap: wrap;
    max-width: 259px!important;  
  word-break: break-word;
  white-space: normal;
}
.menu_hidden   .flexWrapParent {
  flex-wrap: wrap;
    max-width: 49%!important;  
  word-break: break-word;
}

 .menu_hidden #collections_div  .flexWrapParent {
  flex-wrap: wrap;
    max-width: 64%!important;  
  word-break: break-word;
}
 .menu_shown #collections_div  .flexWrapParent {
  flex-wrap: nowrap;
  max-width: 125px!important;
  word-break: break-all;
  white-space: pre-wrap;
}
 .menu_shown #collections_div .MuiDivider-root{
  margin: 6px;
}
.menu_shown #employee_verification_main  .flexWrapParent,
.menu_hidden #employee_verification_main  .flexWrapParent{
  max-width: 185px!important;
  white-space:  normal;
 }


  }
.gridParent  {
  flex-grow: 1 1;
  margin-bottom: 20px;
  border:  none;
  box-shadow:  none;
  width : 100%;
}

.heightOne {
  height: 10px;
  padding: 0;
  margin: 0;
}

.wrappedListItemBigger  {
  flex:  0 0 73%!important;
  color:  #868686!important;
} 


.alignLeft  {
  text-align:  left!important;
  box-shadow:  none;
}
.alignRight {
  text-align:  right;
}
.alignCenter {
  text-align:  center!important;
  align-items: center;
  justify-content: center!important;
}
.alignCenter .headingText {
  text-align:  center;
}
.maxWidth150 {
  max-width:  150px!important;
}
.maxWidth100 {
  max-width:  100px!important;
}
.maxWidth84 {
  max-width: 84px!important;
}
#employee_sorter ,#employee_sorter .MuiList-padding,
#employee_sorter .MuiListItem-gutters{
padding: 0!important;
}

#employee_sorter .MuiPaper-rounded{
  padding-top: 0!important;
}

#employee_sorter .MuiDivider-vertical {
  min-height: 22px;
}

.bottomAlignContent   {
  display:  flex;
  justify-content:  flex-end;
  align-items: flex-end;

} 
.centerAlignContent   {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;

} 

.padding-left-15{
  padding-left : 20px; 
}
.padding-left-16{
  padding-left : 16px!important; 
}
.padding-left-30{
  padding-left : 30px!important; 
}
.padding-left-0{
  padding-left : 0px!important; 
}
.padding-10{
  padding : 10px!important; 
}

.margin-bottom-5{
  margin-bottom: 5px;
}
.margin-10{
  margin : 10px!important; 
}
.margin-0-17 {
  margin: 0 17px!important;
}
.margin-bottom-ten{
  margin-bottom: 10px!important;
}
.padding-top-0{
padding-top: 0!important;
}
.padding-bottom-0{
  padding-bottom: 0!important;
  }
  .padding-bottom-10{
  padding-bottom: 10!important;
  }
  .padding-bottom-30{
    padding-bottom: 30!important;
    }
  .padding-top-24{
    padding-top: 24px!important;
    }
    .margin-top-10{
      margin-top:10px;
    }
      
      .margin-top-30{
      margin-top:30px;
    }
    .margin-top-40{
      margin-top:40px;
    }
    .width-100{
      min-width: 100%!important;
    }
    .padding-left-24{
      padding-left:24px!important;
    }
    .padding-left-20{
    padding-left:20px;
    }
    .padding-left-10{
      padding-left:10px!important;
      }
      
      .height48{
        height:48px;
      }
      #bottom-aligned-navbar{
       justify-content:flex-end;
      }
     #bottom-aligned-navbar   .MuiSelect-selectMenu{
        width: 150px;
      }
.active-nav-link-main{
  background:#152440!important;
  color: white!important;  border-left:2px solid #fff!important; 
     display: flex;
  align-items: stretch;
}

.MuiExpansionPanelSummary-content.Mui-expanded .active-nav-link-main{
  background:#152440!important;
  color: white!important;  border-left:21px solid #fff!important; 
     display: flex;
  align-items: stretch;
}
.active-nav-link-main .inset-heading{
  display: flex;
  align-self: stretch;
}
.inset-heading span{
  font-weight: 500;
}
.single-link div{
 display: inline-flex;
}
.single-link {
  display: flex; cursor: pointer;
padding-left: 10px!important;
 }
/* 
 /*button customizations 
 
.MuiButton-outlined.MuiButton-outlinedPrimary {
  border: 1px solid #3a6eff!important;
  font-weight: 600!important;
  font-size: 14px!important;
  color:#3a6eff!important;
  border-radius: 2px ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
 
} */
.maxWidth150 {
  max-width:150px;
}
.min-width-150 {
  min-width:150px!important;
}
 
@media only screen and (max-width :768px) {
 
  .wrappedListItem, .wrappedListItemTop {
    flex: 0 0 53%!important;
    
    max-width:94px!important;

  }
  #approve_leaves_div  .wrappedListItem, .wrappedListItemTop {
    flex: 0 0 53%!important;
    
    max-width:94px!important;

  }
  #approve_leaves_div .flexWrapParent     {
    flex-wrap: wrap;

  }
  .flexWrapParent{
    flex-wrap: nowrap;
    max-width: 134px!important;
    word-break: break-word;
  }
  .MuiButton-root.MuiButton-containedPrimary .MuiButton-label{
    white-space: normal;
  }
  .min-width-150{
    min-width: 80px!important;
  }
 
#daily-attendence   .wrappedListItem{
  min-width: 104px!important;
}
    }

.displayInlineBlock{
  display: inline-block!important;
}
.Mui-error.Mui-required{
 color:  rgb(244, 67, 54);
}
 .Mui-error.Mui-required  + .displayInlineBlock .MuiButton-outlined,
 .Mui-error.Mui-required  ~ .displayInlineBlock .MuiButton-outlined
 {
color:  rgb(244, 67, 54)!important;
border:1px solid rgb(244, 67, 54);
}
.Mui-error.Mui-required  + .displayInlineBlock .MuiButton-outlined.MuiButton-outlinedPrimary,
.Mui-error.Mui-required  ~ .displayInlineBlock .MuiButton-outlined.MuiButton-outlinedPrimary
{
color:  #3a6eff!important;
border:1px solid #3a6eff;
}

.displayNone{
  display: none!important;
}
.border-bottom-gery{
  border-bottom: 1px solid rgba(0, 0, 0, 0.14)!important;
}
.headerText{ 
  flex: 100%!important;
}
.backButton{
  margin-top: 30px;
  color:black!important;
  margin-bottom: 30px;
}
#create-green-cluster-dialog.MuiDialogTitle-root{
  padding: 16px 24px;
}
h2.main_heading-text {
margin: 0;
font-size: 18px;
text-align: left;
font-weight: normal;
color: black;
}

    .line-hight-35{
      line-height: 35px;
    }
    
#daily-attendence .MuiList-root{
  width: 50%;
  display: inline-flex;
  padding: 0;
  max-width: 100%;
  margin-top: 4px;
}  


.position-absolute{
  position: absolute;
}
.flexAlignLeft{
  justify-content: left;
  align-self: flex-start;
}
.justify-flex-right{
  justify-content: flex-end!important;
}
 .align-self-flex-end{
align-self: flex-end;}
#daily-attendence .MuiInputBase-input.MuiInput-input{
  width:109px;
}
.MuiOutlinedInput-input{
  padding: 14px!important;
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
 

  .wrappedListItem, .wrappedListItemTop {
    flex: 0 0 53%!important;
    
    max-width:104px!important;
  }
  #daily-attendence .MuiListItem-root{
    flex-direction: column;
  }
  
  #daily-attendence .wrappedListItem,#daily-attendence  .wrappedListItemTop ,
  
  #daily-attendence .MuiListItemText-primary{
    flex: 0 0 53%!important;
    word-break: break-all;
    max-width:94px!important;
    min-width: 81px!important;
  }
  #approve_leaves_div  .MuiGrid-grid-sm-6 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}
  #approve_leaves_div .flexWrapParent     {
    flex-wrap: wrap;

  }
  .menu_shown  #All_leaves .hideme,
  .menu_shown   .denied_list .hideme,
  .menu_shown   #accepted_leaves .hideme{
   
      flex-direction: column;
  }
  .menu_shown #approve_leaves_div .flexWrapParent {
    flex-wrap: wrap;
      max-width: 50%!important;  
    word-break: break-word;
  }
  .gridParent .MuiGrid-grid-sm-6 {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 100%;
    margin: 0;
    padding: 0;
  }
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
 .menu_hidden #employee_verification_main  .MuiGrid-grid-sm-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
}
  .wrappedListItem, .wrappedListItemTop {
    flex: 0 0 53%!important;
    
    max-width:104px!important;
  }
  #daily-attendence .MuiListItem-root{
    flex-direction: column;
  }
  
  #daily-attendence .wrappedListItem,#daily-attendence  .wrappedListItemTop ,
  
  #daily-attendence .MuiListItemText-primary{
    flex: 0 0 53%!important;
    
    max-width:94px!important;
    min-width:104px!important;
  }
  .flexWrapParent.width-100 .wrappedListItem,
  .flexWrapParent.width-100  .wrappedListItemTop{
  flex-wrap: wrap;
  flex: 103%!important;
  
  max-width:100%!important;
}
.gridParent .MuiGrid-grid-sm-6 {
  flex-grow: 1;
  max-width: 100%;
  flex-basis: 100%;
  margin: 0;
  padding: 0;
}
.MuiGrid-grid-sm-6 {
  flex-grow: 0;
  max-width: 50%!important;
  flex-basis: 50%!important;
  align-self: flex-end;
}
  #special_request_main .wrappedListItem,
  #special_request_main  .wrappedListItemTop {
  flex: 0 0 77%!important;
  
  max-width:224px!important;
}
}
.flexDirectionColumn{
  flex-direction: column; 
}

@media only screen and (min-width :1250px) {
  .flexDirectionColumn {
    flex-direction: row ;
}

    }
.employer_verify_dialog_body 
  img {
    max-width: 115px;
    width: 100%;
    height: auto;
  } 
  
 #employee-verify-dialog{
    padding:10px; 
  } 

 #employee-verify-dialog .MuiDialog-paperWidthSm{
    padding:20px;
    max-width: 800px;
  } 

.employer_verify_dialog_body{
        
  background:  none;
  box-shadow:  none!important;
}
.space-vertically-even{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.font-size-14, .MuiInputLabel-root {
  font-size: 14px!important;
}
#collections_div .MuiListItem-gutters{
  padding-left: 5px!important;
  padding-right: 5px!important;
}

#assignFeederTeamPopup .MuiButton-outlined,
#requestDatenTimePopup .MuiButton-outlined,
 #editGreenCluster  .MuiButton-outlined{
  margin: 10px;
  margin-left: 0;
  margin-right: 20px;
  border-radius: 2px;
  color: #868686;
    font-weight: normal;
    font-size: 16px;
}

#assignFeederTeamPopup  .MuiButton-outlinedPrimary,
#requestDatenTimePopup .MuiButton-outlinedPrimary,
#editGreenCluster  .MuiButton-outlinedPrimary
{
  margin: 10px;
  margin-left: 0;
  margin-right: 20px;
  border-radius: 2px;
  color: #868686;
    font-weight: normal;
    font-size: 16px;
    color: #1976d2;
    border: 1px solid rgba(25, 118, 210, 0.5);
    padding: 11px;
}

.selectedDay{
  color: #1976d2;
    border: 1px solid rgba(25, 118, 210, 0.5);
}
.deselected{
  background: red!important;
} 

.menu_shown #outlined-vehicleNumber-input{
  font-size: 16px;
  color:#868686;
  width: 245px;
  clear: both;
  
}
#register_vehicles_main #vehicle_list_div .MuiGrid-grid-sm-6 {
  flex-grow: 0;
  max-width: 50%!important;
  flex-basis: 50%!important;
  align-self: flex-start;
}
.width-176{
  width: 176px;
}

#register_vehicles_main .MuiSnackbarContent-root,
 #vehicle_list_div .MuiSnackbarContent-root{
  background-color: #ffa000;
}

.small-heading{
  font-size: 20px;
  color:#000000;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.bottomNavBar {
      height: 56px;
display: flex;
justify-content: center;
background-color: #fff;
flex-direction: row;
width: 100%;
position: absolute;
bottom: 0;
left: 0;
}
.badge-warning{
COLOR:RED!important;
BORDER:RED;
}

 